body {
    display: flex;
    justify-content: center;

    align-items: center;


}







h1 {
    color: rgb(208, 22, 146);
    align-items: center;

}

.button {
    color: rgb(226, 150, 43);
    background-color: rgb(19, 222, 222);
    padding: 7px;
    margin: 3px;
}

.add {
    padding: 8px;
    margin: 7px;
}

.text {
    height: 30px;
    margin-left: 50px;
}